.login-page__login-form input[type=submit]  {
  background-color: var(--base-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  width: 50%;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 7px 5px 5px;
}

.login-page__login-form input[type=submit]:hover  {
  background-color: var(--base-color-darker);
}

.login-page__login-form input[type=submit]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.login-page__login-form input[type=text], .login-page__login-form input[type=password] {
  background-color: #f6f6f6;
  border: none;
  line-height: 30px;
  color: #0d0d0d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 80%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.login-form__type_input input[type=text]:focus, .login-form__type_input input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid var(--base-color);
}

.login-form__type_input input[type=text]:placeholder, .login-form__type_input input[type=password]:placeholder {
  color: var(--base-placeholder-color);
}