.login-page__login-form  {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  min-height:180px;
  margin: 0 auto;
  position: relative;
  padding: 0px;
  margin-top:15px;
  font-size: 30px;
}