.main{
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.main__login-page{
  display: flex;
  justify-content: center;
  text-align:center;
}

.login-page__header{
  width:100%;
  height: 50px;
  background: var(--base-color);
  border-radius: 10px 10px 0px 0px;
}

.header__company-logo{
  background: var(--base-color) url(../images/logo.png) no-repeat 50% 50%;
  max-width: 450px;
  background-size: cover;
  width: 90%;
  height: 50px;
  margin: 0 auto;
}

.login-page {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #cfcfcf;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  min-height:250px;
  margin: 0 auto;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-page__footer{
  width: 100%;
  background: #f6f6f6;
  border-radius: 0px 0px 10px 10px;
  font-size: 18px;
}

.footer__links{
  line-height: 30px;
}

.footer__footer-blocks{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  min-height: 40px;
}

.footer-blocks__languages{
  display: flex;
}

.languages__item_border_right3{
  border-right: 3px solid var(--base-color);
}

.languages__item_padding_right5{
  padding-right: 5px;
}

.languages__item_padding_left5{
  padding-left: 5px;
}