.links__item_underline_italic:after, .languages__item_underline_italic:after{
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: var(--base-color);
  content: "";
  transition: width 0.2s;
}

.links__item_underline_italic:hover, .languages__item_underline_italic:hover {
  font-style: italic;
}

.links__item_cursor_hand:hover, .languages__item_cursor_hand:hover {
  cursor: pointer;
}

.links__item_underline_italic:hover:after, .languages__item_underline_italic:hover:after{
  width: 100%;
}

.links__item, .languages__item{
  color: #0d0d0d;
  text-decoration: none;
}