html, body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  background: url(../images/background.jpg) no-repeat 50% 50%;
  background-size: cover;
}

:root {
  --base-color: #cc0601;
  --base-color-darker: #940200;
  --base-second-color: #ffffff;
  --base-button-color: #3876be;
  --base-placeholder-color: #cccccc;
  --base-text-color: #cccccc;
}

*:focus {
    outline: none;
} 


